# recommended from https://jnavila.github.io/plotkicadsch/
# git config --global filter.kicad_project.clean "sed -E 's/^update=.*$/update=Date/'" # or --local
# git config --global filter.kicad_project.smudge cat # or --local
*.pro filter=kicad_project
# git config --global filter.kicad_sch.clean "sed -E 's/#(PWR|FLG)[0-9]+/#\1?/'" # or --local
# git config --global filter.kicad_sch.smudge cat # or --local
*.sch filter=kicad_sch
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
